<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pokedex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
</head>
<body class="w3-light-grey">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <i class="fas fa-tablet-alt"></i>
        Pokedex
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/getPokemons">Pokedex</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registro">Alta de Entrenador</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/getTrainer">Entrenadores</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="número de pokemon" aria-label="Search">
            <button id="buttonSearch" class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
        </form>
    </div>
</nav>
<br/>
<div class="row" style="max-width: 1400px; margin: auto;">
    <% pokemon.forEach(function(idx){ %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%= idx.sprite %>" alt="Card image cap"/>
                <div class="card-body">
                    <form action="/updatePokemon" method="POST">
                        <h5 class="card-title"><%= idx.name %></h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> Altura: <input type="text" name="height" value="<%= idx.height %> "></li>
                            <li class="list-group-item"> Peso: <input type="number" name="weight" value="<%= idx.weight %>"> </li>
                            <li class="list-group-item"> Numero: <input type="text" name="id" value=" <%= idx.numero %>" disabled> </li>
                        </ul>
                        <br>
                        <button type="submit" class="btn btn-success" style="width: 100%;">Actualizar</button>
                        <br>
                    </form>
                </div>
            </div>
        </div><br/>
    <% }); %>
</div>

<script>
    document.getElementById('buttonSearch').addEventListener("click",(event) => {
        event.preventDefault();
        let pokemonId = document.getElementById('searchInput').value;
        let number = parseInt(pokemonId);
        if (isNaN(number)){
            alert('Solo soportamos busquedas por número de pokemon');
            return;
        }
        document.location.href = '/pokemon/'+pokemonId;
    });
</script>
</body>
</html>